.why-us__card {
    width: 340px;
    height: 369px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    padding: 40px 30px 40px 40px;
}

.why_us__card__img {
    width: 64px;
    height: 68px;
    margin-bottom: 20px;
    background: var(--white);
    border: 0.5px solid var(--white);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.why_us__card__img img {
    width: 30.5px;
    height: 36px;
}

.why-us__card__title {
    line-height: 30px;
    margin-bottom: 15px;
}

.why-us__card__description {
    max-width: 245px;
    line-height: 23px;
    text-align: inherit;
}