@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

:root {
    --white: #ffffffff;
    --grey: #585462;
    --blue: #0D51FF;
    --black: #000000;
    --dark-grey: #2E293B;
    --silver: #DBDBDB 20%;
}

* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

body {
    height: 100%;
    width: 100%;
    line-height: 1;
    font-family: 'Bw Modelica SS01', sans-serif;
    font-style: normal;
    background-color: var(--white);
}

/* title font-style */

h1 {
    font-size: 48px;
    line-height: 58px;
}

/* hero board title - h1 */

h2 {
    font-size: 36px;
    line-height: 58px;
}

/* general title font - h2 */

h3 {
    font-size: 24px;
    line-height: 28px;
}

h4 {
    font-size: 20px;
    line-height: 24px;
}

/* description title and also hero description font - h3 - h4 */

h5 {
    font-size: 18px;
    line-height: 22px;
}

/* description container title font - h5 */

h6 {
    font-size: 16px;
    line-height: 19px;
}

/* general menu list and footer list font - h6 */

p {
    font-size: 16px;
    line-height: 20px;
}

/* general description font - p */

li {
    list-style: none;
    text-decoration: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: top;
}

.margin-auto {
    margin: 0;
}

.logo {
    height: 22px;
    width: 142px;
}
