@media screen and (max-width: 800px) {
    .menu {
        column-gap: 20px;
    }
}

@media screen and (max-width: 750px) {
    .menu {
        column-gap: 10px;
    }
}

@media screen and (max-width: 590px) {
    .menu__wrapper {
        display: none;
    }

    .burger__menu {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 376px) {
    .menu {
        display: none;
    }
}