@media screen and (max-width: 1275px) {
    .menu__wrapper {
        margin: 0 110px;
    }
}

@media screen and (max-width: 1030px) {
    .menu__wrapper {
        margin: 0 70px;
    }
}

@media screen and (max-width: 940px) {
    .menu__wrapper {
        margin: 0 40px;
        column-gap: 35px;
    }

    .contact__arrow {
        margin-left: 3px;
    }
}

@media screen and (max-width: 880px) {
    .menu__wrapper {
        margin: 0 30px;
    }

    .menu__list {
        column-gap: 30px;
    }
}

@media screen and (max-width: 810px) {
    .menu__list {
        column-gap: 30px;
    }

    /*.nav__font__style a {*/
    /*    font-style: normal;*/
    /*    font-weight: 450;*/
    /*    font-size: 14px;*/
    /*    line-height: 17px;*/
    /*}*/

    .menu__btn {
        display: none;
    }
}

@media screen and (max-width: 756px) {
    .menu__wrapper {
        margin: 0 20px;
    }

    .menu__list {
        column-gap: 30px;
    }

    /*.nav__font__style a {*/
    /*    font-style: normal;*/
    /*    font-weight: 400;*/
    /*    font-size: 13px;*/
    /*    line-height: 15px;*/
    /*}*/
}

@media screen and (max-width: 654px) {
    .menu__wrapper {
        margin: 0 15px;
    }

    .menu__list {
        column-gap: 23px;
    }
}

@media screen and (max-width: 642px) {
    .menu__wrapper {
        justify-content: space-between;
        padding: 0 30px;
    }

    .logo {
        margin: 0;
    }

    .menu__list a {
        display: none;
    }

    .language-switcher__wrapper {
        display: none;
    }

    .burger__menu {
        display: flex;
        flex-direction: column;
        margin: 0;
    }
}

@media screen and (max-width: 325px) {
    .menu__wrapper {
        padding: 0 20px;
    }
}