.navbar {
    max-width: 1440px;
}

.menu__wrapper {
    height: 80px;
    max-width: 100%;
    justify-content: space-between;
    margin: 0 150px;
}

.logo__wrapper {
    margin: 0;
}

.nav__font__style a {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: var(--black);
    opacity: 50%;
}

@media screen and (max-width: 810px) {
    .nav__font__style a {
        font-style: normal;
        font-weight: 450;
        font-size: 14px;
        line-height: 17px;
    }
}

@media screen and (max-width: 756px) {
    .nav__font__style a {
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
    }
}

@media screen and (max-width: 679px) {
    .nav__font__style a {
        font-style: normal;
        font-weight: 370;
        font-size: 11px;
        line-height: 13px;
    }
}

.menu__list {
    column-gap: 50px;
    margin: 0;
}

.menu__list li.active a {
    color: var(--blue);
    opacity: 100%;
}

.menu__list li.active {
    position: relative;
}

.menu__list li:hover {
    color: var(--blue);
}

.menu__list li.active::before {
    width: 4px;
    height: 4px;
    display: inline-block;
    position: absolute;
    content: "";
    border-radius: 50%;
    background: var(--blue);
    top: 7px;
    left: -6px;
}

.menu__navbar__btn {
    border: none;
    background: var(--white);
}

.burger__menu {
    display: none;
}

.burger__btn__element {
    height: 3px;
    width: 32px;
    background-color: var(--dark-grey);
    margin-bottom: 9px;
    border-radius: 6px;
}