.navbar {
    margin: 0 auto;
}

.menu__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
}

.logo__wrapper {
    margin: 0;
}

.nav__font__style a {
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    opacity: 50%;
    color: var(--black);
}

.menu__list {
    display: flex;
    align-items: center;
    column-gap: 50px;
    margin: 0;
}

.menu__list li.active a {
    color: var(--blue);
    opacity: 100%;
}

.menu__list li.active {
    position: relative;
}

.menu__list li:hover {
    color: var(--blue);
}

.menu__list li.active::before {
    width: 4px;
    height: 4px;
    display: inline-block;
    position: absolute;
    content: "";
    border-radius: 50%;
    background: var(--blue);
    top: 10px;
    left: -6px;
}

.menu__navbar__btn {
    border: none;
    background: var(--white);
}

.burger__menu {
    display: none;
}

.burger__btn__element {
    height: 3px;
    width: 32px;
    background-color: var(--dark-grey);
    margin-bottom: 9px;
    border-radius: 6px;
}

@media screen and (max-width: 940px) {
    .menu__wrapper {
        column-gap: 40px;
    }

    .contact__arrow {
        margin-left: 2px;
    }
}

@media screen and (max-width: 880px) {
    .menu__list {
        column-gap: 35px;
    }

    .nav-arrow {
        display: none;
    }
}

@media screen and (max-width: 810px) {
    .menu__list {
        column-gap: 30px;
    }

    .menu__btn {
        display: none;
    }
}

@media screen and (max-width: 756px) {
    .menu__list {
        column-gap: 23px;
    }
}

@media screen and (max-width: 693px) {
    .menu__list {
        column-gap: 17px;
    }
}

@media screen and (max-width: 663px) {
    .menu__wrapper {
        justify-content: space-around;
    }

    .menu__list li.active::before {
        display: none;
    }

    .logo {
        margin: 0;
    }

    .menu__list a {
        display: none;
    }

    .menu__list li.active {
        display: none;
    }

    .language-switcher__wrapper {
        display: none;
    }

    .burger__menu {
        display: flex;
        flex-direction: column;
        margin: 0;
    }
}

@media screen and (max-width: 325px) {
    .menu__wrapper {
        margin: 0 20px;
    }
}