.navbar {
    max-width: 1440px;
}

.menu__wrapper {
    height: 80px;
    max-width: 100%;
    justify-content: space-between;
    margin: 0 150px;
}

.logo__wrapper {
    margin: 0;
}

.menu__list {
    column-gap: 50px;
    margin: 0;
}

.menu__list li.active {
    text-decoration: var(--blue);
    color: var(--blue) !important;
    list-style: disc;
}

.menu__list li:hover {
    color: var(--blue);
}

.nav__font__style {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    opacity: 0.5;
}

.contact__arrow {
    margin-left: 5px;
    padding: 0;
}

.menu__btn {
    border: none;
    background: var(--white);
}

.burger__menu {
    display: none;
}

.burger__btn__element {
    height: 3px;
    width: 32px;
    background-color: var(--dark-grey);
    margin-bottom: 9px;
    border-radius: 6px;
}