@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

:root {
    --white: #ffffffff;
    --grey: #585462;
    --blue: #0D51FF;
    --black: #000000;
    --dark-grey: #2E293B;
}

* {
    margin: 0 auto;
    padding: 0;
}

body {
    height: 100%;
    width: 100%;
    line-height: 1;
    font-family: 'Bw Modelica SS01', sans-serif;
    background-color: var(--white);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

.d-flex {
    display: flex;
}

.al-i-center {
    align-items: center;
    text-align: center;
}